@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
@import url(//fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic);
/* Include Default Variables & Mixins */
/* End Variables & Mixins */
/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.1. Zone user
**********************************************/
.zone-user-wrapper {
  position: fixed;
  z-index: 200; }

ul {
   list-style-position: inside;
}
/*******************************************
* 2.1.2. Region user second
*******************************************/
#region-user-second {
  background-color: transparent; }

.block-views-shopping-cart-block {
  margin: 0; }

/**********************************************
* 2.2. Zone branding
**********************************************/
.zone-branding .region-branding {
  clear: both; }
  .zone-branding .region-branding .logo-img {
    float: left;
    /* LTR */
    text-align: left;
    /* LTR */ }

/**
* Search block
*/
#block-views-exp-display-products-page {
  float: right;
  /* LTR */
  padding-top: 10px;
  margin-bottom: 10px; }

#block-views-exp-display-products-page .views-exposed-widgets {
  position: relative;
  width: 300px;
  float: none;
  margin-right: 10px;
  /* LTR */
  margin-bottom: 0; }

/**********************************************
* 2.3. Zone menu
**********************************************/
.menu-toggle {
  display: none; }

.navigation {
  background: transparent;
  display: block !important;
  margin: 26px 0;
  padding-bottom: 0;
  /* Main menu */
  /* Secondary menu */ }
  .navigation h2 {
    display: none; }
  .navigation .primary-menu ul,
  .navigation .second-menu ul {
    display: block;
    float: left;
    /* LTR */
    margin: 0;
    width: 100%; }
    .navigation .primary-menu ul li,
    .navigation .second-menu ul li {
      font-size: 0.8em;
      margin-right: -4px;
      /* LTR */
      width: auto; }
      .navigation .primary-menu ul li a,
      .navigation .second-menu ul li a {
        display: inline;
        border-left-width: 0;
        border-right-width: 0; }
        .navigation .primary-menu ul li a.active, .navigation .primary-menu ul li a:hover,
        .navigation .second-menu ul li a.active,
        .navigation .second-menu ul li a:hover {
          border-left-width: 0;
          border-right-width: 0; }
      .navigation .primary-menu ul li.first a,
      .navigation .second-menu ul li.first a {
        border-left: 1px solid #cccccc;
        /* LTR */ }
      .navigation .primary-menu ul li.last a,
      .navigation .second-menu ul li.last a {
        border-right: 1px solid #cccccc;
        /* LTR */
        margin-right: 0;
        /* LTR */
        margin-left: -2px;
        /* LTR */ }
  .navigation .primary-menu {
    float: left;
    /* LTR */
    margin-right: 12px;
    /* LTR */
    margin-left: 0;
    /* LTR */ }
  .navigation .second-menu {
    clear: inherit;
    float: right;
    /* LTR */
    margin-right: 0; }

.zone-menu .block-menu h2.block-title {
  margin-bottom: 1em; }
.zone-menu .block-menu ul.menu li {
  font-size: 0.8em;
  width: auto; }
  .zone-menu .block-menu ul.menu li a {
    display: inline;
    border-left-width: 0;
    border-right-width: 0; }
    .zone-menu .block-menu ul.menu li a.active, .zone-menu .block-menu ul.menu li a:hover {
      border-left-width: 0;
      border-right-width: 0; }
  .zone-menu .block-menu ul.menu li.first a {
    border-left: 1px solid #cccccc; }
  .zone-menu .block-menu ul.menu li.last a {
    border-right: 1px solid #cccccc; }

/**************************************************
* --
* 3. Section content
* --
**************************************************/
/**********************************************
* 3.2. Zone content
**********************************************/
/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Price range */
#search-api-ranges-block-slider-view-form .range-slider-box {
  margin: 0 auto;
  width: 90%; }

#search-api-ranges-block-slider-view-form .range-box {
  float: inherit; }

#search-api-ranges-block-slider-view-form label {
  float: left;
  /* LTR */ }

#search-api-ranges-block-slider-view-form #edit-range-from,
#search-api-ranges-block-slider-view-form #edit-range-to {
  float: inherit; }

#search-api-ranges-block-slider-view-form #edit-submit {
  margin-top: 0; }

/*******************************************
* 3.2.2. Content
*******************************************/
/**
* Blocks
*/
#block-views-demo-content-slideshow-block-1 {
  /* HP blocks: Slideshow */
  /**
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    contenteditable attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that are clearfixed.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */
  *zoom: 1; }
  #block-views-demo-content-slideshow-block-1:before, #block-views-demo-content-slideshow-block-1.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  #block-views-demo-content-slideshow-block-1:after {
    clear: both; }

/**********************************************
* 3.3. Zone postscript
**********************************************/
.zone-postscript .grid-8 {
  margin: 0 10px;
  width: inherit; }

#zone-postscript {
  /* Adverts blocks */ }
  #zone-postscript .view-ad-push .views-row,
  #zone-postscript .block-blog-block .block-inner {
    position: relative; }
    #zone-postscript .view-ad-push .views-row img,
    #zone-postscript .block-blog-block .block-inner img {
      height: auto;
      max-width: 100%; }
  #zone-postscript .view-ad-push .views-row .views-field-field-tagline,
  #zone-postscript .block-blog-block .block-inner .content .views-field-title {
    position: absolute;
    bottom: 10%;
    left: 7%;
    width: 86%; }
    #zone-postscript .view-ad-push .views-row .views-field-field-tagline a,
    #zone-postscript .block-blog-block .block-inner .content .views-field-title a {
      border: 0; }
  #zone-postscript .block-blog-block .block-inner .block-title {
    display: block; }
  #zone-postscript .view-ad-push .views-row .views-field-field-tagline .field-content a,
  #zone-postscript .block-blog-block .views-field-title .field-content a {
    min-height: 60px;
    padding: 15px 10px; }

/**************************************************
* --
* 4. Section footer
* --
**************************************************/
/**********************************************
* 4.1. Zone footer
**********************************************/
/**
* Menu footer navigation
*/
.section-footer ul.menu li.expanded {
  display: inline;
  float: left;
  /* LTR */ }

/**********************************************
* 4.2. Zone footer2
**********************************************/
#block-menu-menu-payment-methods {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px; }

/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
/**
* Collection page
*/
.view-collection-products .view-header,
.view-collection-taxonomy-term .view-header {
  background-size: cover; }
  .view-collection-products .view-header .taxonomy-title,
  .view-collection-taxonomy-term .view-header .taxonomy-title {
    position: relative; }
  .view-collection-products .view-header .view-collection-products,
  .view-collection-products .view-header .collection-terms,
  .view-collection-taxonomy-term .view-header .view-collection-products,
  .view-collection-taxonomy-term .view-header .collection-terms {
    float: right;
    margin: 5px;
    padding-top: 0; }

/**********************************************
* 5.3. Product page
**********************************************/
/**
* Add to cart popin.
*/
.view-confirm-message-product-display {
  clear: both;
  float: none;
  width: auto; }

div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
  float: left;
  /* LTR */
  width: 180px; }
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper {
  height: 100%;
  position: absolute;
  right: 0;
  /* LTR */ }
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display {
  float: left;
  /* LTR */
  padding-bottom: 20px; }
  div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-product .content .field-name-field-images {
    position: relative;
    left: 0; }

/* Product details */
.node-product-type {
  /* Cloud zoom */ }
  .node-product-type .cloud-zoom-container .cloud-zoom-big,
  .node-product-type .cloud-zoom-container .mousetrap,
  .node-product-type .cloud-zoom-container .cloud-zoom-lens {
    display: inherit !important; }
  .node-product-type .field-name-field-product form.commerce-add-to-cart label {
    float: none; }

.service-links {
  width: auto; }

/**********************************************
* 5.4. Checkout process
**********************************************/
/**
* Checkout page
* Shipping page
*/
.page-checkout #commerce-checkout-form-checkout fieldset label,
.page-checkout #commerce-checkout-form-review fieldset label {
  float: left;
  /* LTR */
  width: 20%; }
.page-checkout #commerce-checkout-form-checkout fieldset .commerce-customer-profile-copy label,
.page-checkout #commerce-checkout-form-review fieldset .commerce-customer-profile-copy label {
  float: none;
  width: 100%; }

.page-cart .entity-commerce-product .content .field-name-field-images {
  display: inline;
  float: left;
  margin-right: 8px; }

/**************************************************
* --
* 7. Blog
* --
**************************************************/
.page-blog .region-content .view-content .views-row {
  clear: left;
  float: left;
  width: 49%; }
.page-blog .region-content .view-content .views-row-even {
  clear: right;
  float: right; }

/**************************************************
* --
* 9. User account
* --
**************************************************/
.page-user,
.page-checkout {
  /* Registration form */
  /* Login form, create an account block */
  /* User home */ }
  .page-user #user_register_form,
  .page-user #user_login_form,
  .page-user .create-account,
  .page-user #user_pass_form,
  .page-checkout #user_register_form,
  .page-checkout #user_login_form,
  .page-checkout .create-account,
  .page-checkout #user_pass_form {
    clear: none;
    float: left;
    width: 45%; }
  .page-user form#user-register-form .form-item-pass,
  .page-user form#user-profile-form .form-item-pass,
  .page-checkout form#user-register-form .form-item-pass,
  .page-checkout form#user-profile-form .form-item-pass {
    margin-bottom: auto; }
    .page-user form#user-register-form .form-item-pass .password-parent,
    .page-user form#user-profile-form .form-item-pass .password-parent,
    .page-checkout form#user-register-form .form-item-pass .password-parent,
    .page-checkout form#user-profile-form .form-item-pass .password-parent {
      position: relative;
      width: 36.3em; }
      .page-user form#user-register-form .form-item-pass .password-parent .password-strength,
      .page-user form#user-profile-form .form-item-pass .password-parent .password-strength,
      .page-checkout form#user-register-form .form-item-pass .password-parent .password-strength,
      .page-checkout form#user-profile-form .form-item-pass .password-parent .password-strength {
        position: absolute;
        right: 15px;
        bottom: -12px;
        width: 17em; }
    .page-user form#user-register-form .form-item-pass .confirm-parent,
    .page-user form#user-profile-form .form-item-pass .confirm-parent,
    .page-checkout form#user-register-form .form-item-pass .confirm-parent,
    .page-checkout form#user-profile-form .form-item-pass .confirm-parent {
      position: relative;
      width: 36.3em; }
      .page-user form#user-register-form .form-item-pass .confirm-parent div.password-confirm,
      .page-user form#user-profile-form .form-item-pass .confirm-parent div.password-confirm,
      .page-checkout form#user-register-form .form-item-pass .confirm-parent div.password-confirm,
      .page-checkout form#user-profile-form .form-item-pass .confirm-parent div.password-confirm {
        right: 15px;
        bottom: 8px;
        width: 17em; }
    .page-user form#user-register-form .form-item-pass .password-suggestions,
    .page-user form#user-profile-form .form-item-pass .password-suggestions,
    .page-checkout form#user-register-form .form-item-pass .password-suggestions,
    .page-checkout form#user-profile-form .form-item-pass .password-suggestions {
      width: 38.5em; }
  .page-user form#user-register-form .form-actions,
  .page-user form#user-profile-form .form-actions,
  .page-checkout form#user-register-form .form-actions,
  .page-checkout form#user-profile-form .form-actions {
    clear: both;
    margin-top: 0;
    margin-bottom: 100px;
    width: 70%; }
  .page-user #user_pass_form,
  .page-checkout #user_pass_form {
    width: auto; }
  .page-user form#user-login #user_login_form,
  .page-checkout form#user-login #user_login_form {
    border: 0;
    border-right: 1px solid #444;
    padding-right: 20px;
    padding-bottom: 0; }
  .page-user form#user-login .create-account,
  .page-checkout form#user-login .create-account {
    margin: 0;
    padding: 0 20px 20px 20px; }
  .page-user .profile ul.user-information li,
  .page-checkout .profile ul.user-information li {
    border-bottom: 0;
    width: 33%; }

/* Address book */
.page-user-addressbook .view-commerce-addressbook td {
  display: table-cell; }
  
  
 /*New Css*/

 
body {
	background: #D5D5D5;	
	font-family: 'Open Sans', sans-serif, Verdana, Helvetica, Arial;
	font-size: 13px;
	font-weight: 600;
}
 
 
h1,h2,h3,h4,h5,h6,h7 {
	font-family: 'Open Sans', sans-serif, Verdana, Helvetica, Arial;
}

h1 {
	font-weight: 800;
}

h2 {
	font-weight: bold;
	font-size: 21px;	
}

.front h1 {
	display: none;	 
}

#breadcrumb {
	float: right;
	z-index: 0;
	width: 40%;
}

.breadcrumb {
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 35px 10px 0 0;
	float: right;	
}

.breadcrumb a {
	color: #f4f4f4;
}

.front .breadcrumb {
	display: none;	
}

h1#page-title {	
	z-index: 1;
	padding: 10px 0 10px 20px;
	margin: 0 10px;
	color: #FFFFFF;
	font-weight: 700;
	text-shadow: 0 0 5px #2A2A2A;
	border-bottom: 7px solid #118AC1;
	box-shadow: 0 0 10px #1C1C1C;
	background: #003f60;
}

.breadcrumb {
	color: #DBDBDB;
}

.field-name-body img {
	margin: 10px;
}
 
#section-header {
	background: url('/sites/all/themes/omega_kickstart/images/bg-1.png') repeat-x;	
}

.not-front #section-header {
	height: 542px;	
	margin-bottom: -318px;
}

.not-front #zone-content {
	margin-bottom: 0;
	margin-top: 8px;
}

.not-front #region-content {
	background: #fff;
	margin-right: 0;	
}

.not-front .zone-content-wrapper .zone-content {
	padding-top: 7px;
}
.navigation-icon {
	background-image: url('/sites/all/themes/omega_kickstart/images/icons/locationicon.png');
	background-repeat: no-repeat;
	float: left;
}

.zone-content-wrapper .zone-content .region-content-inner {
	padding: 10px;	
}

.front .zone-content-wrapper .zone-content .region-content-inner {
	padding: 0;
}


.social-media-icon {
	width: 74px;
	height: 36px;
	float: right;
	margin: 8px 0 0 0;
}


#block-block-4 a.facebook {
	background: url('/sites/all/themes/omega_kickstart/images/icons/facebook-icon.png') no-repeat 0px 0px;
}

#block-block-4 a.google-plus-icon {
	background: url('/sites/all/themes/omega_kickstart/images/icons/google-icon.png') no-repeat 0px 2px;
}

#block-block-4 a.facebook:hover, #block-block-4 a.google-plus-icon:hover {
	background-position: 0 -60px;
}

#block-block-4 a.facebook, #block-block-4 a.google-plus-icon {
	text-indent: -9999px;
	width: 23px;
	height: 23px;
	display: block;
	float: left;
	margin: 0 0 0 0;
}

.zone-branding .region-branding .logo-img {
	margin-top: 0px;	
}

#block-block-5 {
	float: left;
	width: 382px;
	margin: 0 0 0 10px;
}

.drug-catalog-icon, .fact-sheet-icon, .ship-icon {
	float: left;
	width: 136px;
	border-radius: 6px;
	border: 2px solid #000;	
	position: relative;
}

.drug-catalog-icon {
	background: url('/sites/all/themes/omega_kickstart/images/icons/pill-icon.png') 42px 	11px;
	padding: 44px 11px 11px 59px;
	background-color: #003f60;
	background-repeat: no-repeat;
	margin: 0 6px 5px 0;
	width: 46px;
	height: 41px;
}

.drug-catalog-icon:hover {
	background: url('/sites/all/themes/omega_kickstart/images/icons/pill-icon-hover.png') 42px 11px;
	border: 2px solid #fff;
	background-repeat: no-repeat;
	background-color: #003f60;	
}

.fact-sheet-icon:hover {
	background: url('/sites/all/themes/omega_kickstart/images/icons/fact-sheet-hover.png') 43px 13px;
	border: 2px solid #fff;
	background-repeat: no-repeat;
	background-color: #003f60;
}

.ship-icon:hover {
	background: url('/sites/all/themes/omega_kickstart/images/icons/usa-hover.png') 41px 17px;
	border: 2px solid #fff;
	background-repeat: no-repeat;
	background-color: #003f60;
}

.fact-sheet-icon {
	background: url('/sites/all/themes/omega_kickstart/images/icons/fact-sheet.png') 43px 13px;
	padding: 43px 0 11px 68px;
	background-color: #003f60;
	background-repeat: no-repeat;
	margin: 0 6px 5px 0;
	width: 46px;
	height: 41px;
}

.ship-icon {
	background: url('/sites/all/themes/omega_kickstart/images/icons/usa.png') 41px 17px;
	padding: 42px 0 11px 63px;
	background-color: #003f60;
	background-repeat: no-repeat;
	margin: 0 0 5px 0;
	height: 42px;
	width: 65px;
}

.drug-catalog-icon a, .fact-sheet-icon a, .ship-icon a{
	color: #fff;
	font-weight: bold;
	position: absolute;
	top: 0;
	bottom: 0;
	text-align: center;
	right: 0;
	font-size: 14px;
	left: 0;
	padding: 58px 10px 10px 13px;
}

.ship-icon a {
	text-align: center;
	padding: 56px 0px 9px 6px;
}

.physician-icon {
	background-image: url('/sites/all/themes/omega_kickstart/images/icons/physician-icon.png');
	background-repeat: no-repeat;
	float: left;
}

.navigation-icon a, .email-icon a, .phone-icon a, .physician-icon a {
	margin: 0 0 0 25px;
	color: #fff;
	font-weight: 600;
	font-size: 11px;	
}

.navigation-icon, .email-icon, .phone-icon {
	margin: 0 10px 0 0;
}

.email-icon {
	background-image: url('/sites/all/themes/omega_kickstart/images/icons/email-icon.png'); 
	background-repeat: no-repeat;
	float: left;
}

.phone-icon {
	background-image: url('/sites/all/themes/omega_kickstart/images/icons/phone-icon.png');
	background-repeat: no-repeat;
	float: left;
}

#zone-user-wrapper {
	background: #00557d;
	z-index: 500;
}

#block-block-1 {
	margin: 10px 10px 0 0;	
}

#region-branding {
	margin-bottom: 0;
}

#block-search-form {
	float: right;
	width: 411px;
	margin: 0;	
}

#block-search-form input[type="text"] {
	padding: 25px 10px;
	border-radius: 5px 0 0 5px;
	width: 358px;
	background: #004262;
	border: 2px solid #000;
	color: #fff;
}

#block-search-form input[type="submit"] {
	text-indent: -9999px;
	border-radius: 0 5px 5px 0;
	padding: 18px 22px;
	background: url('/sites/all/themes/omega_kickstart/images/icons/search-icon.png') 14px 14px;
	background-repeat: no-repeat;
	background-color: #003f60;
	border: 2px solid #000;
}

#block-search-form .form-item-search-block-form {
	margin-right: -7px;
}

/*Drug Page*/

.node-drug .field-name-field-drug-image {
	float: left;
	border: 1px solid #000;
	margin: 0 10px 10px 0;	
}

.node-type-drug .node-drug .field-name-field-drug-image .field-item {
	float: left	
}

.node-type-drug .node-drug .field-name-field-drug-image {
	width: 185px;
}

.node-drug .group-drug-info {
	background: #B2B2B2;
	padding: 13px;
	border-radius: 3px;
}

.node-drug .group-drug-info .fieldset-legend {
	display: none;	
}

.node-drug .field-name-field-prescription-title, .node-drug .field-name-field-strength-combinations-titl {
	font-weight: bold;	
}

/*Drug Teaser*/

.node-teaser .field-name-field-drug-image {
	border: none;	
}

.view-drugs .views-row {
	float: left;
	background: #fff;
	margin: 0 10px 10px 0;
	padding: 10px;
	width: 152px;
	height: 307px;
	border: 1px solid #C4C4C4;
}

.view-drugs .views-row:hover {
	box-shadow: 0 0 10px  #e2e2e2;	
}

.view-drugs .views-row:nth-child(5n+0) {
	margin-right: 0;
}

.view-drugs .node-teaser .links.node-links {
	display: none;
}

.view-drugs .views-row h2.node-title {
	font-size: 11px;
	margin: 0;
	padding: 0;
	width: 155px;
	text-align: center;
	height: 50px;
	font-weight: bold;
	text-shadow: 0 0 5px #DBDBDB;
}

/*Related Drugs*/

.view-related-drugs .views-row {
	float: left;
	background: #fff;
	margin: 0 8px 10px 0;
	padding: 10px;
	width: 150px;
	height: 302px;
	border: 1px solid #C4C4C4;
}

.view-related-drugs .views-row .views-field-title {
	text-align: center;
	font-weight: bold;
	font-size: 11px;
}

.view-related-drugs .views-row:hover {
	box-shadow: 0 0 10px  #e2e2e2;	
}

/*FAQ*/

#block-views-faq-faq-recent {
	width: 65%;
	float: left;	
}

/*Right Sidebar */


#region-sidebar-second {
	background: #fff;
	padding: 10px;
	margin-left: 0;
}

#region-sidebar-second h2.block-title {
	font-size: 11px;
	background: #0083c0;
	color: #fff;
	padding: 10px;
	text-transform: uppercase;
}

#region-sidebar-second .block.block-menu h2.block-title {
	background: #000;
}

.drug-catalog-sidebar-icon {
	background: url('/sites/all/themes/omega_kickstart/images/icons/sidebar-pill-icon.png') 0 0;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 89px;
}

.wws-sidebar-icon {
	background: url('/sites/empowerrxpharmacy.com/files/styles/map_thumb/public/map/rendered.png') 0 0;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 155px;
	margin-top: 10px;
}


.wws-sidebar-icon a {
	color: transparent;
	height: 155px;
	display: block;	
}


#block-block-6 {
	margin: 0 0 6px 0;
}

#block-block-6 .content {
	padding: 16px 12px 11px 12px;
}

#block-block-6 .content a {
	width: 167px;
	display: block;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	text-indent: -9999px;
	padding: 24px 0 0 22px;
}

#region-sidebar-second .block {
	margin: 0 0 5px 0;
}

.fact-sheets {
	background: url('/sites/all/themes/omega_kickstart/images/icons/medicine-box.png') 47px 9px;
	background-repeat: no-repeat;
	background-size: 64%;
	height: 142px;
}


.prescribe-link a {
	padding: 10px 37px 11px 37px;
	color: #fff;
}

.contact-sidebar-link a {
	color: #fff;
	padding: 10px 43px 11px 43px;
}

.prescribe-link, .contact-sidebar-link {
	background: #000;
	color: #fff;
	padding: 10px 0;
}

.prescribe-info, .contact-sidebar-info {
	padding: 10px;	
}

.prescribe-link a:hover, .contact-sidebar-link a:hover {
	background: #fff;
	color: #000;
}

#block-block-8 .content, #block-block-9 .content {	
	text-align: center;
	font-size: 11px;
	font-weight: bold;
}

#block-block-7, #block-block-6, #block-block-8, #block-block-9, #block-block-13 {
	background: #fff;
	border: 1px solid #000;
}

#block-block-7 .content a {
	width: 208px;
	height: 48px;
	display: block;
	float: right;
	font-size: 12px;
	text-align: center;
	padding: 34px 10px;
	font-weight: bold;
	color: transparent;
}


.region-sidebar-second .block.block-menu {
	background: url('/sites/all/themes/omega_kickstart/images/blue-striped-bg.jpg');	
}

.region-sidebar-second .block.block-menu ul li.leaf {
	list-style-image: none;
	list-style-type: none;
	padding: 2px 0 3px 3px;
}

.region-sidebar-second .block.block-menu a:link, .region-sidebar-second .block.block-menu a:visited {
	font-weight: bold;
	font-size: 11px;
	color: #fff;
}

/*Drugs*/

#webform-component-area-of-intrest .form-checkboxes .form-item, .form-radios .form-item {
	float: left;
	margin: 10px 10px 10px 0;
}

#webform-component-area-of-intrest .fact-sheet-container h2 {
	float: left;
	width: 100%;
}

#webform-component-area-of-intrest .fact-sheet-container h3 {
	text-align: center;	
}

#webform-component-area-of-intrest .views-row.fact-sheet-drug {
	float: left;
	padding: 10px 5px;
	border: 1px solid #9E9E9E;
	margin: 10px 10px 10px 0;
	box-shadow: 0 0 10px #F0F0F0;
	width: 160px;
	height: 285px;
}

#webform-component-area-of-intrest .views-row.fact-sheet-drug .views-field-title {
	text-align: center;
}

#webform-component-area-of-intrest .form-submit {
	display: none;
}

/*Job Page*/

.view-jobs table {
	width: 100%;	
}

.view-jobs table tr.even, .view-jobs table tr.odd {
	background-color: #fff;	
}

.node-job .field {
	margin: 10px;	
}


.node-type-job #block-system-main {
  float: left;
  width: 60%;
}

#block-webform-client-block-200 {
  float: left;
  width: 40%;
  box-sizing: border-box;
  background: #eaeaea;
  border-radius: 5px;
  padding: 10px 1%;
  box-shadow: 0 0 7px #B5B5B5;
}

#webform-client-form-200 #webform-component-resume--attach-resume---optional label {
  position: relative;
}

#block-webform-client-block-200 input[type="text"], #block-webform-client-block-200 input[type="email"] {
  border-radius: 5px;
  height: 2.5em;
  width: 100%;
}

#webform-client-form-200 label {
  padding: 2%;
}

#webform-component-employment-disclosure .fieldset-description {
  font-size: 9px;

}

#block-webform-client-block-200 #webform-component-personal-information--first-name {
  float: left;
  width: 54%;
  box-sizing: border-box;
  background: #eaeaea;
  padding: 0 2% 0 0;
}

#webform-component-personal-information--first-name label {
  padding: 4% 5%;
}

#webform-component-personal-information--middle-initial label {
  padding: 4%;
}

#webform-component-location-info--state label, #webform-component-location-info--city label, #webform-component-location-info--zip label {
  padding: 5%;
}

#block-webform-client-block-200 #webform-component-personal-information--middle-initial {
  width: 43%;
  float: left;
}

#block-webform-client-block-200 #webform-component-personal-information--last-name {
  float: left;
  margin: 0;
}

#block-webform-client-block-200 #webform-component-location-info--home-address {
  margin-bottom: 0;

}

#block-webform-client-block-200 #webform-component-location-info--state {
  float: left;
  width: 40%;
  margin-right: 2%;
}

#block-webform-client-block-200 #webform-component-location-info--city {
  float:left;
  width: 30%;
  margin-right: 2%;
}

#block-webform-client-block-200 #webform-component-location-info--zip {
  float:left;
  width: 26%;
}


#block-webform-client-block-200 h2.block-title {
  margin: 0;
  padding: 10px;
  background: #118AC1;
  border-radius: 5px;
  text-align: center;
  text-shadow: 0 0 7px #545454;
  color: #fff;
  font-size: 28px;
}

#block-webform-client-block-200 legend {
  font-weight: bold;
}

#block-webform-client-block-200 .webform-component-textfield {
  color: #999;
}

#block-webform-client-block-200 input[type="submit"] {
  border-radius: 4px;
  font: bold 14px/1.2 Arial, sans-serif;
  padding: 14px 80px;
}

#webform-component-resume--attach-resume---optional input#edit-submitted-resume-attach-resume-optional-upload-button {
  margin-top: 10px;
}

/*Secondary Menu*/

.tb-megamenu-menu-secondary-menu {
	background: #1ca4e1; /* Old browsers */
	background: -moz-linear-gradient(top,  #1ca4e1 1%, #00618f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#1ca4e1), color-stop(100%,#00618f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1ca4e1 1%,#00618f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1ca4e1 1%,#00618f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1ca4e1 1%,#00618f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1ca4e1 1%,#00618f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ca4e1', endColorstr='#00618f',GradientType=0 ); /* IE6-9 */
}

.tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus, .tb-megamenu .dropdown-submenu:hover > a {
	color: #004262;	
}

.tb-megamenu .dropdown-menu {
	border-bottom: 3px solid #004262;
}

.tb-megamenu .nav > li, .tb-megamenu .mega-nav > li, .tb-megamenu .dropdown-menu .mega-nav > li {
	width: 236px;
}

.tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
	background: #178ab7; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #178ab7 1%, #00618f 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#178ab7), color-stop(100%,#00618f)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #178ab7 1%,#00618f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #178ab7 1%,#00618f 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #178ab7 1%,#00618f 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #178ab7 1%,#00618f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#178ab7', endColorstr='#00618f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: #fff;
}

.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover {
	background: #1ca4e1; /* Old browsers */
	background: -moz-linear-gradient(top,  #1ca4e1 1%, #00618f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#1ca4e1), color-stop(100%,#00618f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1ca4e1 1%,#00618f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1ca4e1 1%,#00618f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1ca4e1 1%,#00618f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1ca4e1 1%,#00618f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ca4e1', endColorstr='#00618f',GradientType=0 ); /* IE6-9 */
}

.tb-megamenu-menu-secondary-menu .mega-dropdown-inner {
	width: 234px;	
}

.tb-megamenu .nav > li > a {
	padding: 20px;	
	text-align: center;
}

.tb-megamenu .dropdown-menu li > a {
	width: 214px;	
}

#block-tb-megamenu-menu-secondary-menu .tb-megamenu .nav > li > a:focus, #block-tb-megamenu-menu-secondary-menu .tb-megamenu .nav > li > a:hover {
	color: #000;	
}

.tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
	color: #000;	
}

.tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover {
	background: #1ca4e1; /* Old browsers */
	background: -moz-linear-gradient(top,  #1ca4e1 1%, #00618f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#1ca4e1), color-stop(100%,#00618f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1ca4e1 1%,#00618f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1ca4e1 1%,#00618f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1ca4e1 1%,#00618f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1ca4e1 1%,#00618f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ca4e1', endColorstr='#00618f',GradientType=0 ); /* IE6-9 */
	color: #fff;	
}

#region-branding {
	padding: 0 0 0 10px;	
}
	

/*Testimonials*/

.view-testimonials .views-row {
	float: left;
	background: #fafafa;
	box-shadow: 0 0 10px #CDC9C9;
	margin: 10px 0 0 0;
	padding: 10px 10px 0 10px;
}

.view-testimonials .views-row header {
	display: none;	
}


.view-testimonials .views-row .field-name-field-personal-image {
	float: left;
	margin: 0 17px 0 0;
	width: 13%;
}

.view-testimonials .views-row .field-name-body {
	font-size: 13px;	
}

.view-testimonials .views-row .field-name-body, .view-testimonials .views-row .field-name-field-name, .view-testimonials .views-row .field-name-field-personal-info {
	float: right;
	width: 85%;	
}

.view-testimonials .views-row .field-name-field-name {
	font-weight: bold;	
}

.view-testimonials .views-row .field-name-field-personal-image img {
	background: #FFCA00;
	border-radius: 60px;
	box-shadow: 0 0 10px #d4d4d4;	
}

.view-testimonials .item-list ul {
	margin: 0;
	padding: 10px 0;
}

#draggableviews-table-testimonials_sorting-page {
	width: 100%;	
}


/*Contact Page*/

#block-webform-client-block-15 {
	padding: 10px;
	width: 41%;
	box-shadow: 0 0 10px #C7C7C7;
	float: left;
	margin: 0 10px 0 10px;
	background: url('/sites/all/themes/omega_kickstart/images/white-striped-bg.jpg');
}

#block-webform-client-block-15 label {
	font-size: 11px;
	margin: 0 0 3px 0;
}

#block-block-11 {
	float: left;
	background: url('/sites/all/themes/omega_kickstart/images/white-striped-bg.jpg');
	padding: 10px;
	box-shadow: 0 0 10px #C7C7C7;
	margin:0 0 10px 0;
  width: 100%;
  box-sizing: border-box;
}

#block-block-11 iframe {
  width: 100% !important;
}

#block-block-11 p {
	margin: 0;	
}


#block-block-10 {
	background: #2F3944;
	color: #fff;
	font-size: 12px;
	float: left;
	width: 100%;
	padding: 0;
	margin: 0 0 10px;
	border-radius: 5px;
	box-shadow: 0 1px 4px #A9A3A3;
}

#block-block-10 table {
	width: 100%;	
}
#block-block-10 table th {
	background: #00557d;
	box-shadow: 0px 2px 10px #343131;
}

#imageData #bottomNav {
	display: none !important;	
}


.social-media-icon-sidebar {
	width: 209px;
	height: 36px;
	margin: 0;
}

#block-block-10 a.facebook {
	background: url(/sites/all/themes/omega_kickstart/images/social/facebook.png) no-repeat 0px 0px;
}

#block-block-10 a.googleplus {
	background: url(/sites/all/themes/omega_kickstart/images/social/googleplus.png) no-repeat 0px 0px;
}

#block-block-10 a.facebook, #block-block-10 a.googleplus {
	text-indent: -9999px;
	width: 35px;
	height: 35px;
	display: block;
	float: left;
	margin: 0 2px 0 0;
}

/*Drug Grid Page*/

.region-sidebar-first .block-facetapi ul li a.facetapi-inactive {
	padding-left: 0;	
	color: #fff;
}

.region-sidebar-first .block-facetapi ul li {
	color: #fff;	
}

.region-sidebar-first .block-facetapi ul li a {
	font-size: 11px;	
}

.page-drugs .region-sidebar-first {
	margin-right: 0;
	background: #1b1b1b;
	padding: 10px;	
}

.page-drugs .region-sidebar-first .block-facetapi {
	margin-left: 0;
	padding: 10px 10px;
	border-top: 1px dashed #B3A17B;
}

.page-drugs .region-sidebar-first .block-facetapi h2 {
	padding-bottom: 5%;	
	color: #389BF3;
}

.page-drugs .region-content {
	margin-left: 0;
}

.field-name-field-strength-combinations .item-list ul li {
	float: left;
	background: #0083c0;
	color: #fff;
	border-radius: 8px;
	padding: 4px 8px;
	margin: 3px;
}

.field-name-field-drug-information {
	float: left;
	margin: 10px 0;	
}

/* Main Menu*/


#block-menu-menu-menu ul li.leaf {
	list-style-image: none;
	list-style-type: none;
	float: left;
	border-right: 1px solid #000;
	padding: 7px 10px;
}

#block-menu-menu-menu ul li.last.leaf {
	border-right: none;	
}

#block-menu-menu-menu {
	float: right;
	background: #f4f4f4;
	background: -moz-radial-gradient(center, ellipse cover, #f4f4f4 0%, #d4d3d3 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f4f4f4), color-stop(100%,#d4d3d3));
	background: -webkit-radial-gradient(center, ellipse cover, #f4f4f4 0%,#d4d3d3 100%);
	background: -o-radial-gradient(center, ellipse cover, #f4f4f4 0%,#d4d3d3 100%);
	background: -ms-radial-gradient(center, ellipse cover, #f4f4f4 0%,#d4d3d3 100%);
	background: radial-gradient(ellipse at center, #f4f4f4 0%,#d4d3d3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#d4d3d3',GradientType=1 );
	margin: 21px 0 0 0;
	border-radius: 5px 5px 0 0;
	padding: 10px 0 10px 0;
}

#block-menu-menu-menu a:link, #block-menu-menu-menu a:visited {
	font-weight: bold;
	color: #000;
	font-size: 13px;
}


#block-views-slideshow-block ul {
	list-style: none;	
}

/*Front Page Logos*/

#zone-postscript-wrapper {
	background: #fff;	
}

#zone-postscript-wrapper .views-row {
	float: left;
	margin: 25px 18px;
}

#zone-postscript-wrapper .views-row-last {
	margin: 25px 0;	
}

#zone-postscript {
	margin-bottom: 0;
}	

/*Front Page Blocks*/

#block-views-front-page-services-block .views-row {
	float: left;
	width: 385px;
	margin: 0 10px 0 0;
}

#block-views-front-page-services-block .views-row-3 { 
	margin: 0;
}

#block-views-front-page-services-block .views-row-1,#block-views-front-page-services-block .views-row-2, #block-views-front-page-services-block .views-row-3 {
	background: #0094d7;
}

#block-views-front-page-services-block .views-field-body {
	padding: 10px;
	height: 70px;
}

#block-views-front-page-services-block .views-field-body p {
	color: #fff;
	font-size: 11px;
}

#block-views-front-page-services-block .views-field-title {
	padding: 10px 10px 0 10px;
	color: #fff;
	font-weight: bold;
}

#block-views-front-page-services-block .views-field-title a {
	color: #fff;
	font-weight: bold;	
}

#block-views-front-page-services-block .views-field-field-learn-more {
	float: right;
	background: #fff;
	margin: 10px;
	padding: 1px 6px;
	border-radius: 3px;
	font-weight: bold;
	font-size: 12px;
}

/*Front Page Bottom Menus*/

.zone-preface {
	margin-bottom: 20px;	
}

#zone-preface-wrapper, #zone-preface {
	background: #0186c3;
}

#zone-preface a:link, #zone-preface a:visited {
	color: #fff;
}

#block-menu-menu-compounding-services-bottom, #block-menu-menu-men-s-health, #block-menu-menu-womens-health-bottom-menu {
	float: left;
}

#block-menu-menu-compounding-services-bottom {
	width: 50%;	
	margin: 0 10px 0 0;
}

#zone-preface ul li.leaf {
	list-style-image: none;
	list-style-type: none;
	float: left;
	width: 278px;
	margin-left: 0;
	font-size: 11px;
}

#block-menu-menu-compounding-services-bottom ul li.leaf{
	width: 180px; 
}

#block-menu-menu-men-s-health, #block-menu-menu-womens-health-bottom-menu {
	width: 24%;	
}

#block-menu-menu-men-s-health h2.block-title, #block-menu-menu-womens-health-bottom-menu h2.block-title, #block-menu-menu-compounding-services-bottom h2.block-title {
	border-bottom: 5px solid #fff;
	margin: 0 0 6px 0;
	color: #fff;
	padding: 0 0 5px 0;
	text-align: center;
}

#block-menu-menu-men-s-health {
	margin: 0 10px 0 0;	
}

#block-block-2 {
	font-size: 11px;
	color: #fff;
	text-align: center;	
}

.zone-footer-wrapper {
	background: #005e89;
	padding-bottom: 10px;
}

.zone-footer2-wrapper {
	background-color: #202020;
	padding: 30px 0 0 0;
}

#block-menu-menu-footer-menu a:link, #block-menu-menu-footer-menu a:visited, #block-block-3 p {
	color: #fff;
	font-size: 11px;
}

#block-block-3 {
	width: 100%;
	padding: 20px 0;
	text-align: center;
}


.section-footer ul.menu li {
	float: left;
	padding: 0 10px;
}

#block-block-3 a:link, #block-block-3 a:visited {
	color: #FFFFFF;
}

/*Slider*/

.flexslider {
	border: none;
	margin: 0 0 10px 0;	
}


#block-menu-menu-footer-menu {
	width: 42%;
	margin: 0 auto;	
}


/*Prevent menu first level flickering*/
ul.tb-megamenu-nav > li.level-1 > a.dropdown-toggle {
  position: relative;
  z-index: 100;
}
ul.tb-megamenu-nav > li.level-1 > div.tb-megamenu-submenu {
  z-index: 99;
}
/*Prevent flickering on second level left slide in animation*/
div.tb-megamenu-submenu ul.tb-megamenu-subnav li.level-2 div.tb-megamenu-submenu {
  overflow: hidden;
}
/*Remove second level gap*/
.tb-megamenu.animate.slide .mega .mega > .mega-dropdown-menu {
  margin: 0 0 0 9px;
}
div.tb-megamenu-submenu ul.tb-megamenu-subnav li.tb-megamenu-item {
  width: auto;
}


/*Career Page*/

#webform-client-form-108 #webform-component-personal-information,#webform-client-form-108 #webform-component-business-experience, #webform-client-form-108 #webform-component-next-previous-employer, #webform-client-form-108 #webform-component-next-previous-employer-1,  #webform-client-form-108#webform-component-education,#webform-client-form-108 #webform-component-references,#webform-client-form-108 #webform-component-other-information,#webform-client-form-108 #webform-component-resume,#webform-client-form-108 #webform-component-employment-disclosure,#webform-client-form-108 #webform-component-education {
	background: #F4F4F4;
	padding: 20px;
	box-shadow: 0 0 10px #F0F0F0;
	border: 1px solid #DFDFDF;
}

#webform-client-form-108 legend {
	background: #00557d;
	padding: 10px;
	box-shadow: 2px 2px 0px #939393;
	font-weight: bold;
	color: #fff;	
}

/*Refrences*/

.open-references {
	cursor: pointer;
	background: #00557d;
	padding: 10px 10px 10px 50px;
	border-radius: 2px;
	color: #fff;
	font-size: 11px;
        background-image: url(../images/bottomarrow.png);
	background-position: left 0px;
	background-repeat: no-repeat;
}

.closed-ref {
       background-image: url(../images/toparrow.png);
       background-position: left 0;
}

.footnotes {
	border-top: none;
	margin-top: 10px;	
}

#block-block-14 {
	float: right;	
}
#block-block-14 p {
	margin-bottom: 0;
}

.node-job .applyjob {
	background: #00557d;
	padding: 10px;
	box-shadow: 2px 2px 0px #939393;
	font-weight: bold;
	float: right;
  display: none;
}

.node-job .applyjob a {
	color: #fff;	
}

#block-webform-client-block-176 {
	width: 100%;
	float: left;
	background: #eaeaea;
	margin: 0 0 10px 0;
	border-radius: 5px;
}

#block-webform-client-block-176 .content {
	padding: 10px;	
}

#webform-component-need-help label {
	font-size: 24px;
	font-family: 'Open Sans', sans-serif, Verdana, Helvetica, Arial;
	text-shadow: 0 0 10px #ADADAD;
}

#webform-component-need-help {
	margin-top: 0;	
}

#webform-component-need-help select {
	width: 100%;
	margin: 12px 0;
	padding: 12px;
	border-radius: 4px;
}


@media (max-width: 1219px) { 
	
#block-search-form input[type="text"] {
	width: 162px;
	padding: 29px 10px;			
}

#block-search-form input[type="submit"] {
	background: url('/sites/all/themes/omega_kickstart/images/icons/search-icon.png') 13px 18px;
	background-repeat: no-repeat;
	background-color: #003f60;
	padding: 22px;	
}

#block-search-form {
	width: 215px;	
}

.drug-catalog-icon a, .fact-sheet-icon a, .ship-icon a {
	padding: 10px 5px 10px 42px;
}

.ship-icon a {
	padding: 8px 8px 10px 51px;
}

.drug-catalog-icon {
	background: url('/sites/all/themes/omega_kickstart/images/icons/pill-icon.png') 10px 12px;
	padding: 32px 11px 11px 67px;
	background-color: #003f60;
	background-repeat: no-repeat;
	margin: 0 5px 5px 0;
	width: 35px;
	height: 16px;

}

.drug-catalog-icon:hover {
	background: url('/sites/all/themes/omega_kickstart/images/icons/pill-icon-hover.png') 10px 12px;
	border: 2px solid #fff;
	background-repeat: no-repeat;
	background-color: #003f60;
}

.fact-sheet-icon {
	background: url('/sites/all/themes/omega_kickstart/images/icons/fact-sheet.png') 9px 12px;
	padding: 32px 0 11px 13px;
	background-color: #003f60;
	width: 89px;
	background-repeat: no-repeat;
	margin: 0 5px 5px 0;
	height: 17px;
}

.fact-sheet-icon:hover {
	background: url('/sites/all/themes/omega_kickstart/images/icons/fact-sheet-hover.png') 9px 12px;
	border: 2px solid #fff;
	background-repeat: no-repeat;
	background-color: #003f60;
}

.ship-icon {
	background: url('/sites/all/themes/omega_kickstart/images/icons/usa.png') 7px 17px;
	padding: 32px 0 11px 13px;
	background-color: #003f60;
	background-repeat: no-repeat;
	margin: 0 0 5px 0;
	width: 110px;
	text-align: center;
	height: 17px;
}

.ship-icon:hover {
	background: url('/sites/all/themes/omega_kickstart/images/icons/usa-hover.png') 7px 17px;
	border: 2px solid #fff;
	background-repeat: no-repeat;
	background-color: #003f60;
}

#block-block-5 {
	width: 368px;
	margin: 0;
}

#block-menu-menu-menu a:link, #block-menu-menu-menu a:visited {
	font-size: 11px;	
}

#block-menu-menu-menu ul li.leaf {
	padding: 3px 35px;
}

#block-menu-menu-menu ul.menu li {
	margin: 0 0 0 0;
}

#block-superfish-1 ul.menu li a {
	width: 187px;
	font-size: 12px;
}

#block-superfish-1 a > .sf-sub-indicator {
	top: 1.8em;
}

#block-superfish-1 .sf-menu.sf-horizontal.sf-shadow ul, #block-superfish-1 .sf-menu.sf-vertical.sf-shadow ul, #block-superfish-1 .sf-menu.sf-navbar.sf-shadow ul ul {
	width: 186px !important;
}


#block-views-front-page-services-block .views-row {
	width: 306px;
}

/*Front Page Logos*/

#zone-postscript-wrapper .views-row {
	margin: 15px 0;
}

#block-views-front-page-logos-block img {
	max-width: 85%;
}

#block-views-front-page-logos-block .views-row-6 {
	width: 180px;	
}

#block-views-front-page-logos-block .views-row-6 img {
	max-width: 81%;
}

/*Drug Grid*/

.view-drugs .views-row {
	width: 148px;
	margin: 0 5px 10px 5px;
}

.view-drugs .views-row:nth-child(5n+0) {
	margin-right: 5px;	
}

/*Fact Sheets*/


#webform-component-area-of-intrest .views-row.fact-sheet-drug {
	float: left;
	padding: 10px 5px;
	border: 1px solid #9E9E9E;
	margin: 10px 10px 10px 0;
	box-shadow: 0 0 10px #F0F0F0;
	width: 158px;
	height: 285px;
}

/*Bottom Menu*/

#block-menu-menu-compounding-services-bottom {
	width: 40%;	
}

#block-menu-menu-men-s-health, #block-menu-menu-womens-health-bottom-menu {
	width: 28%;	
}

/* Footer */

.section-footer ul.menu li.last.leaf {
	margin-right: 0;
}

#block-menu-menu-footer-menu {
	width: 60%;
	margin: 0 auto;	
}


/*Right Sidebar*/

#block-block-6 .content a {
	width: 114px;
	display: block;
	font-size: 13px;
	text-align: center;
	font-weight: bold;
	text-indent: -9999px;
	padding: 17px 0 12px 22px;
}

.drug-catalog-sidebar-icon {
	height: 77px;
}

.prescribe-link a {
	padding: 9px 10px 11px 14px;
}

.contact-sidebar-link a {
	padding: 10px 18px 11px;
}

#block-block-7 .content a {
	padding: 98px 30px 8px;
}

.fact-sheets {
	background: url('/sites/all/themes/omega_kickstart/images/icons/medicine-box.png') 34px 26px;
	background-repeat: no-repeat;
	height: 129px;
}

.wws-sidebar-icon {
	height: 120px;
}

.wws-sidebar-icon a {
	height: 120px;
}

/*Testimonial*/

.view-testimonials .views-row .field-name-body, .view-testimonials .views-row .field-name-field-name, .view-testimonials .views-row .field-name-field-personal-info {
	width: 84%;	
}

/*Secondary Menu*/

.tb-megamenu .nav > li, .tb-megamenu .mega-nav > li, .tb-megamenu .dropdown-menu .mega-nav > li {
	width: 188px;	
}

.tb-megamenu .nav > li > a {
	padding: 18px 10px;
}


#block-webform-client-block-200 #webform-component-personal-information--first-name {
  width: 60%;
}

#block-webform-client-block-200 #webform-component-personal-information--middle-initial {
  width: 40%;
}

#webform-component-personal-information--middle-initial label {
  padding: 6%;
}

#block-webform-client-block-200 #webform-component-personal-information--last-name {
  width: 100%;
}

#block-webform-client-block-200 #webform-component-contact-info--email ,#block-webform-client-block-200 #webform-component-contact-info--phone-number {
  width: 100%;
  float: left;
}

#block-webform-client-block-200 #webform-component-contact-info--phone-number {
  margin-top: 0;
}

#block-webform-client-block-200 #webform-component-location-info--home-address {
  width: 100%;
  float: left;
}

#block-webform-client-block-200 #webform-component-location-info--state, #block-webform-client-block-200 #webform-component-location-info--city {
  width: 34%;
  margin-right: 1%;
}

#block-webform-client-block-200 #webform-component-location-info--zip {
  width: 30%;
}

}

@media (max-width: 979px) {


.social-media-icon {
	width: 46px;
}

#region-user-first {
	width: 615px;
}

#region-user-second {
	width: 85px;
}

#block-search-form {
	width: 340px;
	margin: 0 0 7px 0;
}

#block-search-form input[type="text"] {
	width: 168px;
}

#block-search-form .form-actions input {
	margin-right: 0;	
}

#block-block-5 {
	width: 340px;
}

#block-block-7 .content a {
	padding: 98px 4px 8px;
}

#block-block-6 .content a {
	width: 81px;
	font-size: 9px;
	padding: 12px 0 12px 13px;
}

.drug-catalog-icon {
	background: url('/sites/all/themes/omega_kickstart/images/icons/pill-icon.png') 7px 12px;
	padding: 32px 11px 11px 67px;
	background-color: #003f60;
	background-repeat: no-repeat;
	margin: 0 5px 5px 0;
	width: 31px;
	height: 16px;
}

.fact-sheet-icon {
	background: url('/sites/all/themes/omega_kickstart/images/icons/fact-sheet.png') 9px 12px;
	padding: 32px 0 11px 13px;
	background-color: #003f60;
	width: 89px;
	background-repeat: no-repeat;
	margin: 0 5px 5px 0;
	height: 17px;
}

.fact-sheets {
	background: url('/sites/all/themes/omega_kickstart/images/icons/medicine-box.png') 9px 25px;
	background-repeat: no-repeat; 
}

.wws-sidebar-icon {
	height: 86px;
}

.wws-sidebar-icon a {
	height: 86px;
}

.drug-catalog-sidebar-icon {
	height: 54px;
}

.ship-icon {
	background: url('/sites/all/themes/omega_kickstart/images/icons/usa.png') 7px 17px;
	padding: 32px 0 11px 13px;
	background-color: #003f60;
	background-repeat: no-repeat;
	margin: 0 0 5px 0;
	width: 94px;
	text-align: center;
	height: 17px;
}

.ship-icon a {
	padding: 11px 8px 10px 51px;
}

.drug-catalog-icon a, .fact-sheet-icon a, .ship-icon a {
	font-size: 12px;	
}

#block-menu-menu-menu {
	float: left; 
	margin: -21px 0 0 0;
	padding: 7px 0 10px 0;
}

#block-menu-menu-menu ul li.leaf {
	padding: 3px 12px;
}

#block-superfish-1 ul.menu li a {
	width: 139px;
	font-size: 10px;
}

#block-superfish-1 a > .sf-sub-indicator {
	top: 3.8em;
	left: 6.4em;
}

#block-views-front-page-services-block .views-row {
	width: 226px;
}

#block-views-front-page-services-block .views-field-body {
	height: 117px;
}

#block-search-form input[type="text"] {
	width: 287px;
}

.navigation-icon a, .email-icon a, .phone-icon a, .physician-icon a {
	font-size: 10px;	
}

.prescribe-link:hover, .contact-sidebar-link:hover {
	background: #fff;
	color: #000;
}

.prescribe-link a, .prescribe-link a:hover {
	padding: 0 0 0 3px;
}

.contact-sidebar-link a {
	padding: 0;
}

.view-related-drugs .views-row {
	width: 146px;
}

/*Map*/

#node-page-107 .field-name-body .mapWrapper #svggroup svg:not(:root) {
	max-width: 79%;
}

/*Fact Sheets*/


#webform-component-area-of-intrest .views-row.fact-sheet-drug {
	float: left;
	padding: 10px 5px;
	border: 1px solid #9E9E9E;
	margin: 10px 10px 10px 0;
	box-shadow: 0 0 10px #F0F0F0;
	width: 154px;
	height: 285px;
}

/*Secondary Menu*/


#block-tb-megamenu-menu-secondary-menu .tb-megamenu .nav > li > a:focus, #block-tb-megamenu-menu-secondary-menu .tb-megamenu .nav > li > a:hover {
	color: #000;	
}

.tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
	color: #000;	
}

#block-tb-megamenu-menu-secondary-menu .tb-megamenu-button, .tb-megamenu .nav-collapse .nav > li {
	width: 100%;	
	background-image: url('/sites/all/themes/omega_kickstart/images/mobile-menu.png');
	background-position: center;
	background-repeat: no-repeat;
}

#block-tb-megamenu-menu-secondary-menu {
	height: 40px;	
}

.tb-megamenu .dropdown-menu li > a {
	width: 100%;	
}

#block-tb-megamenu-menu-secondary-menu .mega-dropdown-inner, .tb-megamenu .nav > li, .tb-megamenu .mega-nav > li, .tb-megamenu .dropdown-menu .mega-nav > li {
	width: 100%
}

.tb-megamenu .nav > li, .tb-megamenu .mega-nav > li, .tb-megamenu .dropdown-menu .mega-nav > li {
	text-align: center;	
}

.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover {
	background: #000;	
}

.tb-megamenu .mega-nav > li a, .tb-megamenu .dropdown-menu .mega-nav > li a {
	margin-left: 0;	
}

#block-tb-megamenu-menu-secondary-menu .tb-megamenu .nav > li > a:focus, #block-tb-megamenu-menu-secondary-menu .tb-megamenu .nav > li > a:hover {
	color: #eaeaea;	
}

.tb-megamenu .nav-collapse .nav > li.active > a:hover, .tb-megamenu .nav-collapse .nav > li.active > a:focus {
	background: #eaeaea;
	color: #fff;
}

.tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus, .tb-megamenu .dropdown-submenu:hover > a {
	font-weight: bold;
	color: #4BAEE5;	
}

/*Front Page Logos*/

#block-views-front-page-logos-block .views-row img {
	max-width: 100%;
}

#zone-postscript-wrapper .views-row-1 {
	width: 12%;	
}

#zone-postscript-wrapper .views-row-2 {
	width: 11%;
	margin: 10px 0 0 0;
}

#zone-postscript-wrapper .views-row-3 {
	width: 9%;
	margin: 5px 5px 0 0;
}
#zone-postscript-wrapper .views-row-4 {
	width: 15%;
	margin: 10px 8px 0 0;
}

#zone-postscript-wrapper .views-row-5 {
	width: 15%;
	margin: 14px 9px 0 0;
}

#zone-postscript-wrapper .views-row-6 {
	width: 17%;
	margin: 10px 3px 0 0;
}
#zone-postscript-wrapper .views-row-7 {
	width: 15%;
	margin: 0;
}

/*Testimonials*/

.view-testimonials .views-row .field-name-field-personal-image {
	text-align: center;
	margin: 0 17px 15px 0;
	width: 100%;
}

.view-testimonials .views-row .field-name-body, .view-testimonials .views-row .field-name-field-name, .view-testimonials .views-row .field-name-field-personal-info {
	width: 100%;
	text-align: center;
}

/*Drug Grid*/

.view-drugs .views-row {
	width: 144px;
}

/*Footer*/

#block-menu-menu-compounding-services-bottom {
	width: 33%;	
}

#block-menu-menu-men-s-health, #block-menu-menu-womens-health-bottom-menu {
	width: 32%;	
}

#block-menu-menu-footer-menu {
	width: 81%;
	margin: 0 auto;
}


/*Job*/

#block-webform-client-block-200 #webform-component-personal-information--first-name {
  width: 100%;
  float: none;
  margin-bottom: 0;
}

#block-webform-client-block-200 #webform-component-personal-information--middle-initial, #block-webform-client-block-200 #webform-component-personal-information--last-name {
  width: 100%;
}


#webform-component-personal-information--middle-initial label {
  padding: 3%;
}

#block-webform-client-block-200 #webform-component-contact-info--email, #block-webform-client-block-200 #webform-component-contact-info--phone-number {
  width: 100%;
  float: left;
}

#block-webform-client-block-200 #webform-component-location-info--home-address {
  width: 100%;
  float: none;
}

#block-webform-client-block-200 #webform-component-location-info--state, #block-webform-client-block-200 #webform-component-location-info--city {
  width: 100%;
  margin-right: 0;
  float: none;
}

#block-webform-client-block-200 #webform-component-location-info--zip {
  width: 100%;
  margin-top: 0;
}
