/* This file will hold styles that are loaded using the same media query as the wide grid. */


/*Fonts*/

@import url(http://fonts.googleapis.com/css?family=Lora:400,400italic|Merriweather:400,300italic,300,400italic);


body {
	font-family: 'Lora', serif;
	background: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lora', serif;
	color: #065379;	
}

h2 {
	font-size: 30px;
}

/*Bottom Footer*/

#zone-footer2-wrapper {
	background: #242424;
	color: #fff;
	padding: 10px 0;
	min-height: 0;
}

#block-block-4 p {
	margin-bottom: 0px;
}

#block-block-4 {
	font-style: italic;
	font-weight: 300;
	font-size: 12px;	
}

#block-menu-menu-footer-menu, #block-menu-menu-spanish-footer-menu {
	float: right;
}

/*Top Footer*/

#section-footer {
	background: rgb(0,85,125); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,85,125,1) 0%, rgba(0,62,91,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,85,125,1)), color-stop(100%,rgba(0,62,91,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,85,125,1) 0%,rgba(0,62,91,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,85,125,1) 0%,rgba(0,62,91,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,85,125,1) 0%,rgba(0,62,91,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,85,125,1) 0%,rgba(0,62,91,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00557d', endColorstr='#003e5b',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 0 40px #B2B2B2;

}

.zone-footer-wrapper, #block-block-6 a:link, #block-block-6 a:visited, #block-menu-menu-footer-menu li a, #block-menu-menu-spanish-footer-menu li a{
	color: #fff;

}

 #block-menu-menu-footer-menu li, #block-menu-menu-spanish-footer-menu li {
 	float: left;
 	font-style: italic;
 }

 .zone-footer-wrapper, #block-block-6 a:link, #block-block-6 a:visited, #block-menu-menu-footer-menu li a,  #block-menu-menu-footer-menu li, #block-menu-menu-spanish-footer-menu li a,  #block-menu-menu-spanish-footer-menu li {
	font-family: 'Lora', serif;
}

.zone-footer-wrapper {
	padding-top: 17px;
	padding-bottom: 0;
}



/*Front Page Content*/

.front #page-title {
	display: none;
}

#zone-postscript-wrapper {
	background: rgb(0,85,125);
	background: -moz-linear-gradient(top, rgba(0,85,125,1) 0%, rgba(0,62,91,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,85,125,1)), color-stop(100%,rgba(0,62,91,1)));
	background: -webkit-linear-gradient(top, rgba(0,85,125,1) 0%,rgba(0,62,91,1) 100%);
	background: -o-linear-gradient(top, rgba(0,85,125,1) 0%,rgba(0,62,91,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,85,125,1) 0%,rgba(0,62,91,1) 100%);
	background: linear-gradient(to bottom, rgba(0,85,125,1) 0%,rgba(0,62,91,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00557d', endColorstr='#003e5b',GradientType=0 );
	box-shadow: 0 0 25px #B6B5B5;
}

#zone-postscript {
  margin-bottom: 0px;
}

#block-block-9 {
	padding: 10px;
	color: #fff;
	margin: 7px 0 0 0;
}

#block-block-13 img {
  border: 6px solid #eaeaea;
}

#block-block-13 {
	float: left;
	margin: 10px 15px 0 0;
	box-shadow: 0 0 20px rgba(98, 97, 97, 0.78);
}

#block-block-13 p {
	margin: 0;
}


/*Contact Us Area*/
	


#block-block-8 {
	padding:30px 0;
	margin: 0 auto;
}

#block-block-8 a {
	color: #fff;
}

/*Contact Us Page*/

.block-webform-client-block-15 {
	background: #eaeaea;
	padding: 10px;
	border-radius: 7px;
	float: left;
}

.group-left .field-name-contact-info {
	background: #eaeaea;
	padding: 10px;
	margin: 0 10px 0 0;
	border-radius: 5px;
	box-shadow: 0 0 10px #C0C0C0;
}

.block-webform-client-block-15 h2 {
	color: #fff;
}

.block-block-16 {
	float: left;
}

#webform-client-form-15 input{
	padding: 12px;
	background: #F0F0F0;
	border-radius: 3px;
}

.group-right #webform-client-form-15 {
	margin: 0;
	background: rgb(0,85,125);
 	background: -moz-linear-gradient(top, rgba(0,85,125,1) 0%, rgba(0,62,91,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,85,125,1)), color-stop(100%,rgba(0,62,91,1)));
	background: -webkit-linear-gradient(top, rgba(0,85,125,1) 0%,rgba(0,62,91,1) 100%);
	background: -o-linear-gradient(top, rgba(0,85,125,1) 0%,rgba(0,62,91,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,85,125,1) 0%,rgba(0,62,91,1) 100%);
	background: linear-gradient(to bottom, rgba(0,85,125,1) 0%,rgba(0,62,91,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00557d', endColorstr='#003e5b',GradientType=0 );
	padding: 10px;
	color: #eaeaea;
}

.group-right .field-name-contact-webform h2 {
	background: #000;
	color: #fff;
	padding: 10px;
	border-radius: 4px 4px 0 0;
}

#webform-client-form-15 label {
	color: #eaeaea;
	font-weight: bold;
}

.webform-component--phone-number {
	margin-right: 3px;
}

#webform-client-form-15  .webform-submit {
	width: 100%;
	border-radius: 4px;
}


.group-middle .field-name-contact-us-map iframe {
  width: 100%;
}

/*Top Header */

.zone-user-wrapper {
	background: #00557d;
	color: #fff;
	padding: 14px 0 14px 0;
	margin: 0 0 10px 0;

}

#block-block-2 p, #block-block-3 p{
	margin-bottom: 0;
}



#region-user-second {
	margin: 0 10px;
}

#block-block-2 a:link, #block-block-2 a:visited, #block-block-3 a:link, #block-block-3 a:visited {
	color: #fff;
}

/*Main Menu*/

#block-menu-menu-spanish-main-menu-right- .first, #block-menu-menu-spanish-main-menu .first {
	line-height: 40px;
}

#block-menu-menu-top-menu-left a:link, #block-menu-menu-top-menu-left a:visited, #block-menu-menu-top-menu-right a:link, #block-menu-menu-top-menu-right a:visited, #block-menu-menu-spanish-main-menu a:link, #block-menu-menu-spanish-main-menu-right- a:visited, #block-menu-menu-spanish-main-menu-right- a:link, #block-menu-menu-spanish-main-menu a:visited {
	color: #000;
	font-weight: bold;
	text-shadow: 0 0 3px #d3d3d3;
}

#block-menu-menu-top-menu-left ul li.leaf, #block-menu-menu-top-menu-right ul li.leaf, #block-menu-menu-spanish-main-menu ul li.leaf, #block-menu-menu-spanish-main-menu-right- ul li.leaf {
 	float: left;
	width: 30%;
	list-style-image: none;
	list-style-type: none;
	text-align: center;
	padding: 10px 0 10px 0;
}

#block-menu-menu-top-menu-left,  #block-menu-menu-top-menu-right, #block-menu-menu-spanish-main-menu, #block-menu-menu-spanish-main-menu-right- {
	border-top: 1px solid #919191;
	border-bottom: 1px solid #919191;

} 

#block-menu-menu-top-menu-right, #block-menu-menu-top-menu-left, #block-menu-menu-spanish-main-menu-right-, #block-menu-menu-spanish-main-menu {
	margin: 30px 0 0 0;
}

#block-block-14 p {
	margin-bottom: 0;
}

#zone-menu-wrapper {
	display: none;
}

/*Inside Page*/

.field-name-field-page-banner {
	border: 8px solid #eaeaea;
	margin: 0 0 15px 0;
}

#block-block-12 {	
	color: #fff;
	border-radius: 5px;
}

.not-front .zone-content-wrapper {
	box-shadow: 0 7px 15px #eaeaea;
}

.field-name-contact-us {
	margin: 8px 0 8px 8px;
	background: #eaeaea;
	padding: 20px;
	border-radius: 6px;
}

.node-page .field-name-body {
	color: #666;
}

.breadcrumb {
	background-color: transparent;
	border: none;
	color: #003399;
	margin: 0 0 20px 0;
	text-align: right;
}

.breadcrumb a {
	color: #6B6B6B;
 }

.group-right .field-name-contact-us h2.block-title{
	margin: 0;
	background: #004260;
	color: #DFDFDF;
	padding: 10px;
	border-radius: 4px 4px 0 0;
}

.group-right .field-name-contact-us {
	padding: 0;
}

.contact-us-sidebar {
	border: 1px solid #C8C8C8;
	box-shadow: 0 6px 10px #eaeaea;
	border-radius: 0 0 4px 4px;
}

.contact-us-sidebar strong {
	color: #065379;
}

.contact-us-item {
	padding: 10px 10px;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(224,224,224,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(224,224,224,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(224,224,224,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(224,224,224,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}

.node-type-page .group-middle .field-name-body img {
	margin: 5px 10px 5px 5px;
	border: 1px solid #00557D;
	box-shadow: 0 0 17px #D5D5D5;
}

/*Right Sidebar Menu*/

.group-sidebar-right .tb-megamenu {
	background: rgb(0,85,125); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,85,125,1) 0%, rgba(0,62,91,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,85,125,1)), color-stop(100%,rgba(0,62,91,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,85,125,1) 0%,rgba(0,62,91,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,85,125,1) 0%,rgba(0,62,91,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,85,125,1) 0%,rgba(0,62,91,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,85,125,1) 0%,rgba(0,62,91,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00557d', endColorstr='#003e5b',GradientType=0 ); /* IE6-9 */
	margin: 0 0 8px 10px;
}

.group-sidebar-right .tb-megamenu .nav > li {
	float: none;
}

.group-sidebar-right .tb-megamenu .nav > li > a {
	border-right: none;
	border-top: 0;
	color: #fff;
	font-weight: bold;
	padding: 9px 15px;
	text-shadow: none;
	font-size: 12px;
	border-bottom: 1px solid #E7E7E7;
}

.tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover {
	background-color: #fff;
	color: #2d2d2d;
}

.group-sidebar-right .tb-megamenu .nav > .active > a, .group-sidebar-right .tb-megamenu .nav > .active > a:hover, .group-sidebar-right .tb-megamenu .nav > .active > a:focus {
	background-color: #4D4D4D;
}

.field-name-vasectomy-reversal-submenu h2.block-title, .field-name-erectile-dysfunction-megamenu h2.block-title, .field-name-vasectomy-sub-menu h2.block-title, .field-name-male-infertility-sub-menu h2.block-title, .field-name-low-testosterone-side-menu h2.block-title, .field-name-peyronie-s-disease-menu h2.block-title, .field-name-male-infertility-spanish-submenu h2.block-title, .field-name-vasectomy-spanish-submenu h2.block-title, .field-name-vasectomy-reversal-spanish-subme h2.block-title, .field-name-low-testosterone-spanish-submenu h2.block-title {
	font-size: 14px;
	margin: 0 0 0 10px;
	background: #1A1A1A;
	padding: 10px;
	color: #F2F2F2;
	border-radius: 3px 3px 0 0;
}

/*Universal CSS*/

.node-page {
	margin: 0;
}

.zone-preface {
	background-color: transparent;
}

/*Accordion*/

.z-accordion.horizontal > .z-section > .z-content > div {
	padding: 0;
}

.z-accordion.horizontal > .z-section > .z-header {
	background: rgb(135,135,135); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(135,135,135,1) 0%, rgba(91,91,91,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,135,135,1)), color-stop(99%,rgba(91,91,91,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(135,135,135,1) 0%,rgba(91,91,91,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(135,135,135,1) 0%,rgba(91,91,91,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(135,135,135,1) 0%,rgba(91,91,91,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(135,135,135,1) 0%,rgba(91,91,91,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#878787', endColorstr='#5b5b5b',GradientType=0 ); /* IE6-9 */
	color: #fff;
	text-shadow: 0 0 4px #000;
}

.z-accordion, .z-accordion > .z-section, .z-accordion > .z-section > .z-header, .z-accordion > .z-section > .z-header .z-title, .z-accordion > .z-section > .z-content {
	border-color: #565555;
}

.views-uitoux-accordion .z-auto-g {
	position: relative;
}

.views-uitoux-accordion .views-field-body p {
	margin: 0;
}

.views-uitoux-accordion .views-field-field-slide-link a {
	color: #fff;
}
